.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;

    display: flex;
    justify-content: space-between;
    
    z-index: 1;
}
.nav_black{
    background-color: black;
}
.logo{
    position: fixed;
    left: 20;
width: 80px;
object-fit: contain;
}
.avatra{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}